<extend name="Public:front"/>
<block name="mianbaoxie">
    <li class="active">分享给好友</li>
</block>
<block name="main">
    <div class="am-container">
        <h3>1、分享二维码</h3>

        <p>
            <img src="{$qrcode1}"> <img src="{$qrcode5}"> <img src="{$qrcode10}">
        </p>

        <p>右击图片,图片另存为,下载图片;将二维码分享给好友</p>
        <hr>
        <h3>2、分享链接</h3>

        <p>
            <input type="text" value="{$url}" class="form-control">
        </p>

        <p>复制链接,将链接分享给好友</p>
    </div>
</block>