<extend name="Public:front"/>
<block name="mianbaoxie">
    <li><a href="{:U('Table/index')}">模型</a></li>
    <if condition="has_permission('Table/add')">
        <li><a href="{:U('Table/add')}">添加</a></li>
    </if>
</block>
<block name="main">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>表名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="datas" id="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.mingcheng}</td>
                    <td>{$vo.biaoming}</td>
                    <td>
                        <if condition="has_permission('Table/edit')">
                            <a href="{:U('Table/edit',array('id'=>$vo['id']))}">编辑</a>
                        </if>
                        <if condition="has_permission('Table/delete')">
                            <a class="ajax-get confirm no-refresh"
                               href="{:U('Table/delete',array('id'=>$vo['id']))}" remove="tr">删除</a>
                        </if>
                        <if condition="has_permission('TableField/add')">
                            <a href="{:U('TableField/add',array('table_biaoming'=>$vo['biaoming']))}">添加字段</a>
                        </if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</block>