<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMS</title>
    <link href="__PUBLIC__/common/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/common/bootstrap-datepicker/datepicker.css" rel="stylesheet">
    <link href="__PUBLIC__/admin/admin.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#daohang"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Index/index')}">主面板</a>
        </div>
        <div class="collapse navbar-collapse" id="daohang">
            <ul class="nav navbar-nav">
                <volist name="admin_auth.caidans" id="vo">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{$vo.name} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <volist name="vo.menus" id="vo2">
                                <li><a href="{$vo2.url}">{$vo2.name}</a></li>
                            </volist>
                        </ul>
                    </li>
                </volist>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{:U('Message/index')}">消息 <span class="badge">4</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{$manage_auth.name} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:U('Manage/info')}">修改资料</a></li>
                        <li><a href="{:U('Manage/pwd')}">修改密码</a></li>
                        <li><a href="{:U('Manage/help')}">帮助</a></li>
                        <li><a href="{:U('Config/clear')}">清理缓存</a></li>
                        <li><a href="{:U('Public/logout')}">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{:U('Index/index')}">主面板</a></li>
        <block name="mianbaoxie"></block>
    </ol>
</div>

<div class="container">
    <block name="main"></block>
</div>
<script type="text/javascript">
    var server_url = '{:U("Common/upload")}',
            swf_url = '__PUBLIC__/common/webuploader/Uploader.swf',
            del_url = '{:U("Common/uploaddel")}',
            ueditor_url = '__PUBLIC__/common/ueditor/',
            attachment_url = '{:U("Common/uploadAttachment")}';
</script>
<script src="__PUBLIC__/common/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/common/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/common/bootstrap-validator/validator.min.js"></script>
<script src="__PUBLIC__/common/ueditor/ueditor.config.js"></script>
<script src="__PUBLIC__/common/ueditor/ueditor.all.js"></script>
<script src="__PUBLIC__/common/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="__PUBLIC__/common/webuploader/webuploader.nolog.min.js"></script>
<script src="__PUBLIC__/common/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/common/bootstrap-datepicker/bootstrap-datepicker.zh-CN.js"></script>
<script src="__PUBLIC__/admin/admin.js"></script>
<block name="script"></block>
</body>
</html>