<extend name="Public:front"/>
<block name="mianbaoxie">
    <li><a href="{:U('Permission/index')}">权限</a></li>
    <if condition="has_permission('Permission/add')">
        <li><a href="{:U('Permission/add')}">添加</a></li>
    </if>
</block>
<block name="main">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>名称</th>
                <th>URL</th>
                <th>菜单显示</th>
                <th>权限显示</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="datas" id="vo">
                <tr>
                    <td>{$vo.mingcheng}</td>
                    <td>{$vo.url}</td>
                    <td>
                        <eq name="vo.caidanxianshi" value="1">显示</eq>
                    </td>
                    <td>
                        <eq name="vo.quanxianxianshi" value="1">显示</eq>
                    </td>
                    <td>
                        <if condition="has_permission('Permission/edit')">
                            <a href="{:U('Permission/edit',array('id'=>$vo['id']))}">编辑</a>
                        </if>
                        <if condition="has_permission('Permission/delete')">
                            <a class="ajax-get confirm no-refresh"
                               href="{:U('Permission/delete',array('id'=>$vo['id']))}" remove="tr">删除</a>
                        </if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="pull-right"> {$_page}</div>
</block>