<extend name="Public:front"/>
<block name="mianbaoxie">
    <li><a href="{:U('Table/index')}">模型</a></li>
    <li>{$data.mingcheng}({$data.biaoming})</li>
</block>
<block name="main">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>字段名</th>
                <th>类型</th>
                <th>必填</th>
                <th>查询显示</th>
                <th>列表显示</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="data.fields" id="vo">
                <tr>
                    <td>{$vo.ziduanming}({$vo.ziduanming_pinyin})</td>
                    <td>{$vo.leixing}</td>
                    <td><eq name="vo.bitian" value="1">是</eq></td>
                    <td><eq name="vo.chaxunxianshi" value="1">是</eq></td>
                    <td><eq name="vo.liebiaoxianshi" value="1">是</eq></td>
                    <td>
                        <if condition="has_permission('TableField/edit')">
                            <a href="{:U('TableField/edit',array('id'=>$vo['id']))}">编辑</a>
                        </if>
                        <if condition="has_permission('TableField/delete')">
                            <a class="ajax-get confirm no-refresh"
                               href="{:U('TableField/delete',array('id'=>$vo['id']))}" remove="tr">删除</a>
                        </if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>

    <form data-toggle="validator" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-sm-2 control-label">字段名*</label>

            <div class="col-sm-10">
                <input name="ziduanming" type="text" class="form-control" placeholder="字段名" required
                       value="{$data.field.ziduanming}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">字段名pinyin*</label>

            <div class="col-sm-10">
                <input name="ziduanming_pinyin" type="text" class="form-control" placeholder="字段名pinyin" required
                       value="{$data.field.ziduanming_pinyin}" disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">类型*</label>

            <div class="col-sm-10">
                <select class="form-control" name="leixing" id="leixing" required>
                    <option value="char"
                    <eq name="data.field.leixing" value="char">selected</eq>
                    >字符串</option>
                    <option value="int"
                    <eq name="data.field.leixing" value="int">selected</eq>
                    >数字</option>
                    <option value="date"
                    <eq name="data.field.leixing" value="date">selected</eq>
                    >日期</option>
                    <option value="text"
                    <eq name="data.field.leixing" value="text">selected</eq>
                    >文本</option>
                    <option value="longtext"
                    <eq name="data.field.leixing" value="longtext">selected</eq>
                    >富文本</option>
                    <option value="table"
                    <eq name="data.field.leixing" value="table">selected</eq>
                    >关联表</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">表</label>

            <div class="col-sm-10">
                <select class="form-control" name="table">
                    <option value="">选择表</option>
                    <volist name="tables" id="vo">
                        <option value="{$vo.biaoming}"
                        <eq name="data.field.table" value="$vo.biaoming">selected</eq>
                        >{$vo.mingcheng}</option>
                    </volist>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">必填</label>

            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="bitian"
                        <eq name="data.field.bitian" value="1">checked</eq>
                        >是
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">查询显示</label>

            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="chaxunxianshi"
                        <eq name="data.field.chaxunxianshi" value="1">checked</eq>
                        >是
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">列表显示</label>

            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="liebiaoxianshi"
                        <eq name="data.field.liebiaoxianshi" value="1">checked</eq>
                        >是
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <input type="hidden" name="id" value="{$data.id}">
                <input class="btn  btn-primary btn-block" type="submit" value="提交">
            </div>
        </div>
    </form>
</block>